<style>
body {
    background: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.carteira {
    width: 350px;
    height: 250px;
    background:black;
    border-radius: 18px;
    color:#dfe6e9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.carteira ::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    top: -30%;
    right: -30%;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h1 {
    font-size: 20px;
    margin-left: 0px;
    color: #38bdf8;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #38bdf8;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.conteudo {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.foto {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #38bdf8;
}


    
